body {
  background-color: #1f1f1f;
  color: #fffafa;
}

#mainFrame {
  height: 497px;
  width: 933px;
}

.invisible {
  display: none;
}

#menuList {
  height: 20em;
  width: 15em;
  overflow: scroll;
  background-color: #000f00;
}
